p{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(59, 77, 139);
}
h3
{
    
    color: rgb(71, 72, 128);    
}
h3.ext
{
 color: rgb(60, 74, 156);
}
.na
{
    margin-left: 50px;
    border:1.5px solid;
    padding-left: 190px;
    padding-bottom: 20px;
}
.co
{
    padding-left: 190px;
}